.header{
    width: 100%;
    height: 60px;
    background-color: #967ECB;
    display: flex;
    align-items: center;
}
.header a{
    font-size: large;
    height: 100%;
    align-items: center;
    display: flex;
}