<app-header> </app-header>
<div class="serie-item">
  <img
    src="https://vignette.wikia.nocookie.net/castlevania/images/9/96/Ssposter2.jpg/revision/latest?cb=20181024191840"
    alt="castlevania-poster"
  />
  <h1>avengers</h1>
  <p>
    Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois
    dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento
    sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e
    dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.
    A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já
    aventei a hipótese de até criar um ministério. É na área de... Na área... Eu
    diria assim, como uma espécie de analogia com o que acontece na área
    agrícola.
  </p>
</div>

<div class="serie-item">
  <img
    src="https://cdn.discordapp.com/attachments/256464107425890304/749069915473838120/unknown.png"
    alt="castlevania-poster"
  />
  <h1>avatar 7</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ipsum quis
    deserunt, voluptate sed repellat. Odio aliquam illo veniam alias temporibus
    atque. Quis hic excepturi, minus dolor laudantium distinctio unde.Deserunt
    architecto, adipisci recusandae labore aliquid beatae ipsa quos nemo
    inventore sed libero dolorum perspiciatis eum suscipit non temporibus magni
    tempora illum!
  </p>
</div>

<div class="serie-item">
  <img
    src="https://i.pinimg.com/originals/9b/e4/b9/9be4b9731b428481844708967fc80abb.jpg"
    alt="castlevania-poster"
  />
  <h1>um maluco no pedaço</h1>
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o
    pão duris. Praesent vel viverra nisi. Mauris aliquet nunc non turpis
    scelerisque, eget. Copo furadis é disculpa de bebadis, arcu quam euismod
    magna. Suco de cevadiss deixa as pessoas mais interessantis. Si num tem
    leite então bota uma pinga aí cumpadi! Aenean aliquam molestie leo, vitae
    iaculis nisl. Leite de capivaris, leite de mula manquis sem cabeça. Todo
    mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
  </p>
</div>
